@using TrialWebApp.DataBase;
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<tbady>
    @{
        foreach (User item in ViewBag.kullanicilar)
        {
            <h3>kullanıcı id: @item.id</h3>
            <h3>kullanıcı ad soyad: @item.nameAndSurname</h3>
        }
    }
</tbady>